header {
    background: #4AABFF;
}
.page-content{
    margin: 20px auto;
}
.page-content .row{
    padding: 20px;
}
#ace-holder{
    background: #ccc;
}
#ace-holder{
    min-height: 400px;
    width: 100%;
    background: rgba(0, 255, 210, 0.07);
}